.cart {
    width: 100%;
    max-width: 340px;
    background-color: white;
    height: 83vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #ccc;
    transform: translate(110%, 0);
    transition: all 400ms ease;
}

.itens_cart {
    flex-grow: 1;
    overflow: auto;
}

.resume_cart {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 35px 0 15px;
    border-top: 1px solid #ccc;
        
}

.itens_cart .cart_itens:last-child {
    border-bottom: none;
}

.cart_active {
    transform: translate(0, 0);
}

.remove_all_button {
    font-size: 26px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.remove_all_button:hover {
    outline: none;
    box-shadow: 0 0 1px red;
}

.confirm_button {
    font-size: 13px;
    background: linear-gradient(to top, #00EE18, #058F00);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 40px;
    max-width: 140px;
    border: none;
    border-radius: 40px;
    position: fixed;
}

.confirm_button:hover {
    outline: none;
    background: linear-gradient(to top, #058F00, #00EE18);
}

.confirm {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;    
    align-items: center;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(14, 255, 14); 
    width: 100%;
    height: 100%;
  }

.confirm_icon {
    position: relative;
    display: block;
    left: 50%;
    color: rgb(0, 0, 0);
  }